.form-card {
  box-shadow: 0 0 6px var(--warm-grey);
  
  label {
    font-size: 1.1rem;
  }
}

.btn-cancel,
.btn-submit {
  border-style: none !important;
}

.btn-cancel {
  background-color: var(--red-drive);
}

.btn-submit {
  background-color: var(--sky-drive);
}

.btn-cancel:hover,
.btn-submit:hover {
  box-shadow: 1px 2px 7px var(--secondary);
}

.btn-cancel:hover {
  background-color: var(--primary-hover);
}

.btn-submit:hover {
  background-color: var(--secondary);
}

.error {
  color: var(--red-drive);
}
