.card-us {
  h2 {
    font-size: 2.5rem !important;
    margin-bottom: 1em !important;
    text-align: center;
  }

  ul {
    margin: 0 2em !important;

    li {
      font-size: 1.6rem;
      font-style: italic;
      font-weight: 700;
    }
  }

  p {
    font-size: 1.4rem !important;
    line-height: 1.4;
    margin-top: 1em;
  }
}
